@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  /* Site colors */
  --color-primary: #3A76F5;
  --color-secondary: #7b9de7;

  /* Dark theme */
  --dark-bg-primary: #212121;
  --dark-bg-secondary: #424242;
  --dark-bg-tertiary: #616161;
  --dark-text-primary: #ffffff;
  --dark-text-secondary: #969698;

  /* Light theme */
  --light-bg-primary: #d9d9da;
  --light-bg-secondary: #ededed;
  --light-bg-tertiary: #bfbfbf;
  --light-text-primary: #171717;
  --light-text-secondary: #3b3b3b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
    transition: background-color 0.3s ease, color 0.3s ease, filter 0.3s ease;
}

/* Theme overrides */
html.auto {
    --theme-primary: light-dark(var(--light-bg-primary), var(--dark-bg-primary));
    --theme-secondary: light-dark(var(--light-bg-secondary), var(--dark-bg-secondary));
    --theme-tertiary: light-dark(var(--light-bg-tertiary), var(--dark-bg-tertiary));
    --text-primary: light-dark(var(--light-text-primary), var(--dark-text-primary));
    --text-secondary: light-dark(var(--light-text-secondary), var(--dark-text-secondary));
    color: var(--text-primary);
}

html.light {
    --theme-primary: var(--light-bg-primary);
    --theme-secondary: var(--light-bg-secondary);
    --theme-tertiary: var(--light-bg-tertiary);
    --text-primary: var(--light-text-primary);
    --text-secondary: var(--light-text-secondary);
    --icon-filter: var(--light-icon-filter);
    color: var(--text-primary);
}
  
html.dark {
    --theme-primary: var(--dark-bg-primary);
    --theme-secondary: var(--dark-bg-secondary);
    --theme-tertiary: var(--dark-bg-tertiary);
    --text-primary: var(--dark-text-primary);
    --text-secondary: var(--dark-text-secondary);
    --icon-filter: var(--dark-icon-filter);
    color: var(--text-primary);
}

h1, h2, h3, h4, h5, h6, a, p, li, ul {
  color: var(--text-primary);
  margin: 0;
  font-weight: inherit;
}

a {
  color: var(--text-secondary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-primary);
}

body {
  margin: 0;
  display: flex;
}

button {
  background-color: var(--color-primary);
  color: var(--text-primary);;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: background-color 0.05s;
}
button:hover {
  border-color: var(--color-secondary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled,
button[disabled] {
  background-color: var(--color-secondary);
}
button:active {
  background-color: var(--color-secondary);
}